In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [4]:
data =pd.read_csv('ws.csv',names=['sky','Temp','Humidity','Wind','Water','Forecast','Enjoy Sport'])
data

     sky  Temp Humidity    Wind Water Forecast Enjoy Sport
0  Sunny  Warm   Normal  Strong  Warm     Same         Yes
1  Sunny  Warm     High  Strong  Warm     Same         Yes
2  Rainy  Cold     High  Strong  Warm   Change          No
3  Sunny  Warm     High  Strong  Cool   Change         Yes

In [5]:
h0 = np.zeros(6)
h0

array([0., 0., 0., 0., 0., 0.])

In [6]:
data_column_dropped = data.drop(columns=['Enjoy Sport'],index=[2])
data_column_dropped

     sky  Temp Humidity    Wind Water Forecast
0  Sunny  Warm   Normal  Strong  Warm     Same
1  Sunny  Warm     High  Strong  Warm     Same
3  Sunny  Warm     High  Strong  Cool   Change

In [7]:
data_target = np.array(data)[:,-1]
data_target

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [8]:
data_attributes = np.array(data)[:,:-1]
data_attributes

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [9]:
data

     sky  Temp Humidity    Wind Water Forecast Enjoy Sport
0  Sunny  Warm   Normal  Strong  Warm     Same         Yes
1  Sunny  Warm     High  Strong  Warm     Same         Yes
2  Rainy  Cold     High  Strong  Warm   Change          No
3  Sunny  Warm     High  Strong  Cool   Change         Yes

In [36]:
def train(c,t):
    for i, val in enumerate(t):
        if val == 'Yes':
            specific_hypothesis = c[i].copy()
            break 
    for i,val in enumerate(c):
        if t[i] == 'Yes':
            for x in range (len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:pass 
                return specific_hypothesis

In [35]:
print(f'The final hypothesis is -{train(data_attributes,data_target)}')

The final hypothesis is -['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']